
#joeyStatusButton 
{
	margin:0px;padding:0px;
    list-style-image  : url("chrome://joey/skin/joey16x16.png");
}

#joeyStatusTeller  {
 margin:0px;
 padding:0px;

}

#joeyProgressLayer{
  background-color:#9999ff;
  -moz-opacity:.5;
}

.joeyProgressLayer
{
  -moz-border-radius:3px;
  background:blue 0 0 no-repeat;
  color:White;
  padding-left:1em;
  margin-left:2px;
}

.joeyTypeVideo 
{
	 background-image:url("chrome://joey/skin/type_video.png");

}
.joeyTypeAudio
{
	 background-image:url("chrome://joey/skin/type_music.png");

}
.joeyTypeText
{
	 background-image:url("chrome://joey/skin/type_text.png");
}


#joey_activeRSSLink {
   -moz-image-region: rect(0px, 36px, 18px, 18px);
   list-style-image: url("chrome://browser/skin/livemark-item.png");
}
