#joeyStatusButton {
    list-style-image  : url("chrome://joey/skin/mini-icon-16-16-logout.png");
}

#joeyStatusButton.login {
    list-style-image  : url("chrome://joey/skin/mini-icon-16-16-login.png");
}

#joeyStatusButton.capture {
    list-style-image  : url("chrome://joey/skin/mini-icon-16-16-capture.png");
}

#joeyStatusButton.alert {
    list-style-image  : url("chrome://joey/skin/mini-icon-16-16-alert.png");
}

#joeyStatusTeller  {
 margin:0px;
 padding:0px;

}

#joeyProgressLayer{
  background-color:blue;
  -moz-opacity:.5;
}

#joey_activeRSSLink {
   -moz-image-region: rect(0px, 36px, 18px, 18px);
   list-style-image: url("chrome://browser/skin/livemark-item.png");
}