/*
 * colors that are being reused.
 */
colors {
	titleColor: #002bc6;
	bgColorFocused: #fabd23;
	borderColorFocused: black;
	
	bgColorInput: white;
	borderColorInput: gray;
	bgColorInputFocused: bgColorFocused;
	borderColorInputFocused: black;
	
	textColor: black;
	
	textColorInput: gray;
	textColorInputFocused: black;
	
	activeTabColor: #002bc6; 
	inactiveTabColor: silver;
	
	darkpink:  rgb(185,26,138);

	uploadBgColor: white;
	uploadBgColorFocused: red;
}

/*
 * backgrounds used on several screens
 */
backgrounds {
	buttonFocusedBackground {
		type: round-rect;
		color: bgColorFocused;
		border-color: borderColorFocused;
	}
}

/*
 * borders used on several screens
 */
borders {
	buttonBorder {
		type: round-rect;
		color: bgColorFocused;
	}	
}

.inputScreen {
	padding: 5;
}

.loginScreen extends inputScreen {
}

.mainmenuScreen extends inputScreen {
}

.snapshotScreen extends inputScreen {
}

.uploadScreen extends inputScreen {
}

.uploadItem {
	padding: 1;
	border-width: 1;
	focused-style: .uploadItemFocused;
	layout: expand | left;
	background {
		color: uploadBgColor;
	}
}

.uploadItemFocused {
	padding: 1;
	border-width: 1;
	layout: expand | left;
	background {
		color: uploadBgColorFocused;
	}
}

.input {
	padding: 2;
	background {
		color: bgColorInput;
		border-color: borderColorInput;
	}
	font-color: textColorInput;
	layout: expand;
	focused-style: .inputFocused;
}

.inputFocused {
	padding: 2;
	background {
		color: bgColorInput;
		border-color: borderColorInput;
	}
	font-color: textColorInput;
	layout: expand;
}

.checkbox {
	/*
	checkbox-s0lected: url( choice-checked.png );
	checkbox-plain: url( choice-unchecked.png );
	*/
}

.checkbutton {
	padding: 2;	
}

.radiobox {
	view-type: exclusive-single-line;
	/*
	exclusiveview-left-arrow: url( arrowLeftS.png );
	exclusiveview-right-arrow: url( arrowRightS.png );
	*/
	exclusiveview-roundtrip: true;
	/* label-style: .radioboxLabel; */
	/* include-label: true; */
	exclusiveview-expand-background: true;
	/*
	//#if !polish.ScreenWidth:defined
		min-width: 60;
	//#else
		min-width: ${polish.ScreenWidth} * 2 / 3 - 30;
	//#endif
	*/
	layout: expand | newline-before;
}

/*
.radioboxLabel {
	padding: 2;
	layout: newline-after;
}
*/

.radiobutton {
	padding: 2;
	layout: center;
}

menu {
	margin-left: 2;
	padding: 2;
	background {
		type: round-rect;
		color: white;
		border-width: 2;
		border-color: yellow;
	}
	focused-style: .menuentryFocused;
	menubar-color: darkpink;
	font-color: white;
	font-style: bold;
}

.menuentry {
	margin-top: 2;
	padding: 2;
	padding-left: 5;
	layout: left;
	focused-style: menuentryFocused;
	font {
		color: black;
		size: medium;
		style: bold;
	}
}

.menuentryFocused extends menuentry {
	background-color: black;
	font-color: white;
}

.alertConfirmation {
	padding: 10;
	layout: vertical-shrink | horizontal-shrink | bottom | center;
	repaint-previous-screen: true;
	background {
		type: round-rect;
		color: bgColorFocused;
	}
}

.waitAlert {
	padding: 10;
	layout: expand;
	repaint-previous-screen: true;
	background {
		type: round-rect;
		color: bgColorFocused;
	}
}

.button {
	padding: 2;
	border: buttonBorder;
}

.button:hover {
	background: buttonFocusedBackground;
}
